In [23]:
import pandas as pd
from datetime import datetime

In [24]:
df = pd.read_csv('./Descargados/Edad media por provincia.csv', 
                  sep = ';',
                  dtype = 'string')
df = df[df.Provincias != 'Total Nacional']
df.Total = df.Total.str.replace(',','.').astype('float64')
df.Periodo = df.Periodo.astype('int64')
df.head()

      Provincias         Sexo  Periodo  Total
150  02 Albacete  Ambos sexos     2024  44.59
151  02 Albacete  Ambos sexos     2023  44.34
152  02 Albacete  Ambos sexos     2022  44.14
153  02 Albacete  Ambos sexos     2021  43.85
154  02 Albacete  Ambos sexos     2020  43.67

In [25]:
df2 = df.pivot_table(index=['Provincias', 'Periodo'], columns='Sexo', values='Total', aggfunc='sum').reset_index()
df2.Provincias = df2.Provincias.str[3:]
df2.rename(columns = {'Provincias':'Provincia',
                      'Periodo':'Anio',
                     'Ambos sexos':'Total'},
          inplace = True)
df2.head()

Sexo    Provincia  Anio  Total  Hombres  Mujeres
0     Araba/Álava  1975  31.04    30.36    31.73
1     Araba/Álava  1976  31.11    30.43    31.80
2     Araba/Álava  1977  31.19    30.49    31.90
3     Araba/Álava  1978  31.32    30.60    32.05
4     Araba/Álava  1979  31.50    30.77    32.24

In [27]:
df2.to_csv('./Transformados/Dataset_Edad_media_provincias.csv', sep = ';', index = False)
print(datetime.now(), ' - guardado')

2025-07-03 20:07:27.389076  - guardado